<h2
  appBasicHighlightDirective
  [defaultColor]="'yellow'"
  [highlightColor]="'red'"
  class="text-blue-900 text-md fon-bold"
>
  Add new server or blueprint
</h2>
<div class="mb-4">
  <app-input
    label="Server Name"
    [value]="server_name"
    name="server_name"
    (valueChange)="getServerName($event)"
  ></app-input>
</div>
<div class="mb-4">
  <app-input
    label="Server Content"
    [value]="server_content"
    name="server_content"
    (valueChange)="getServerContent($event)"
  ></app-input>
</div>
<footer class="flex">
  <app-btn
    class="mr-2"
    [disabled]="buttonDisabled()"
    (buttonClicked)="addServer()"
    >Add server</app-btn
  >
  <app-btn
    class="mr-2"
    [disabled]="buttonDisabled()"
    (buttonClicked)="addServerBlueprint()"
    background="green"
    >Add server blueprint</app-btn
  >
</footer>
