<app-input
  [label]="'Account Name'"
  [name]="'accountName'"
  [value]="account_name"
  [placeholder]="'Enter account name'"
  (valueChange)="accountName($event)"
></app-input>
<select
  [ngModel]="account_status"
  name="type"
  id="type"
  (change)="changeStatus($event)"
  class="p-2 w-full cursor-pointer border border-gray-300 rounded-md my-3"
>
  <option *ngFor="let option of options" [value]="option">{{ option }}</option>
</select>
<app-btn
  [disabled]="!account_name || !account_status"
  (click)="createAccount()"
>Add account</app-btn>
